@page
@model RealEstatePipeline.Pages.Account.ResetPasswordModel
@{
}


<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h2 class="mb-4">Reset Password</h2> <!-- Modify this heading as needed -->
                <form method="post" class="form">
                    <!-- System-generated inputs for model binding -->
                    <input type="hidden" asp-for="Code" />
                    <input type="hidden" asp-for="UserType" />
                    <input type="hidden" asp-for="Email" />

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" asp-for="Password" id="formPassword" class="form-control form-control-lg" />
                        <label class="form-label mt-1" for="formPassword">New Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" asp-for="ConfirmPassword" id="formConfirmPassword" class="form-control form-control-lg" />
                        <label class="form-label mt-1" for="formConfirmPassword">Confirm New Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>