@page
@model RealEstatePipeline.Pages.Account.ResetPasswordModel
@{
}

<h2>Reset Password</h2>
<form method="post">
    <input asp-for="Code" type="hidden" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
    </div>
    <button type="submit">Reset Password</button>
</form>