@page "{id}"
@model RealEstatePipeline.Pages.AgentDetailsModel
@{
}


<h2>Agent Details</h2>

<!-- Display agent details -->
<p>Name: @Model.Agent.UserName</p>
<p>Email: @Model.Agent.Email</p>
<p>Bio: @Model.Agent.ProfileDescription</p>
<!-- Add more details as needed -->